body {
    background-color: rgb(56, 9, 101);
    color:white;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: bolder;
    margin-left: 5x;
}
#button {
    background-color: white;
    color: red;
    font-size: 15px;
    padding: 5px;
}
